

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    height: 100vh;
    /* padding: 10px; */
}

/*---------------- HEADER-------------------*/
h1 {
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}



.first-section {
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: rgb(150, 211, 247);
    display: flex;
    padding: 15px 15px;
}

.second-section {
    margin-top: 100px;
    height: 100px;
    padding: 15px 15px;
    display: flex;
    justify-content: space-evenly;
    color: black;
    font-style: bold;
}

/* MKH - TKH */
#MKH,
#TKH {
    width: 200px;
    place-items: center;
    border-radius: 15px;
    border: none;
    background-color: rgb(150, 211, 247);
}


#content-mkh,
#content-tkh {
    width: 200px;
    place-items: center;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
}


/* ---------FOOTER------------ */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(150, 211, 247);
    color: white;
    text-align: center;
}

.footer>button {
    float: right;
    margin-right: 150px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/*----------------The div có Class="search-box": gồm ô nhập Mã Đối Tác và nút nhấn--------------*/


.search-box {
    /*Chiều cao và chiều dài của thẻ này */
    height: 45px;
    width: 500px;
    margin-left: auto;
}

/*Định dạng ô nhập Mã Phòng*/
.search-box input {
    font-size: 18px;
    border-width: 1px;
    border-radius: 8px;
    height: 40px;
    margin-left: 20px;
}


/*Định dạng nút nhấn*/
.return-box button,
#search,
.footer>button {
    text-align: center;
    font-size: 18px;
    color: white;
    margin-left: 20px;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border: none;
    background-color: rgb(1, 97, 152);
    cursor: pointer;
}


button:hover {
    font-weight: bold;
    color: black;
    background-color: rgb(70, 144, 255);
    cursor: pointer;
}


/* Định dạng đường kẻ ngăn cắt phần trên và bảng*/
hr {
    display: block;
    border-color: none;
    margin-bottom: 20px;
}

/* ---------------------------------BẢNG------------------------------------- */

label {
    height: 30px;
    text-align: center;
}

#list {
    height: 400px;
    background-color: rgb(255, 255, 255);
    position: relative;
}

#list-container {
    padding: 20px 150px;
    overflow: scroll;
}

#list-header {

    display: flex;
    justify-content: space-evenly;
    background-color: rgb(150, 211, 247);
    height: 40px;
    text-align: center;
}

#list-header p {
    font-weight: 600;
    line-height: 40px;
    width: 100%;
}

#list-header #width-3 {
    width: 40%;
}

/* #list-row-container{
    display: none;
} */
#list-row {
    /* display: none; */
    display: flex;
    padding: 15px 0;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(173, 167, 167);
}

#list-row label,
#list-row button {
    width: 100%;
    text-align: center;
}